.singup{
    width: 80%;
    margin: auto;
}
.singup h1{
    margin: 5rem;
    font-size: 80px;
    text-align: center;
}
form{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

}