.textFieldCss{
    width: 100%;
    height: 50px;
    position: relative;

}

.textFieldCss input:focus + label,  
.textFieldCss input:valid + label  {
    top: 10px;
    font-size: 13px;
    
}
.textFieldCss .h:focus,
.textFieldCss .h:valid{
    background-color: white;
    border: solid #3071E8 3px;
    box-shadow: none;
    outline: none;
}
.textFieldCss .h{
    width: 100%;
    padding: 20px 10px 0px 10px;
    height: 80%;
    font-size: 25px;
    border: none;
    border-radius: 0px;
    background-color: #011931;
    border: solid #d0b09a 1px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.textFieldCss label {
    position: absolute;
    left: 15px;
    color: #d0b09a;
    font-size: 20px;
    width: calc( 100% + 20px);
    height: calc(100% + 20px);
    pointer-events: none;
    top: 15px;
    font-weight: bold;
    transition:  all 0.2s  ease-in-out;
    -webkit-transition:  all 0.2s  ease-in-out;
    -moz-transition:  all 0.2s  ease-in-out;
    -ms-transition:  all 0.2s  ease-in-out;
    -o-transition:  all 0.2s  ease-in-out;
}
.Error-tooltip{
    position: absolute;
    top: -15px;
    font-size: 12px;
    color: #ff9292;
    font-weight: bold;
}
